<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registrado</title>
<link rel="stylesheet" href="{{ url_for('static', filename ='css/registro_ok.css') }}" >
</head>
<body>
    <header>
        <h1>CREATIVE</h1>
    </header>
    <h2>¡¡Su anuncio ha sido registrado correctamente!!</h2>
    <h3>Te hemos enviado un email, por favor, verifica tu correo</h3>
    <ul>
	    <li><a href="/">Volver al Home</a></li>
	    <li><a href="registro-anuncio">Registrar nuevo anuncio</a></li>
    </ul>
</body>
</html>  