body {
	margin: 0;
	background-color: #f2e8e8;
}
header {
    background-image: url("/static/img/area-interna.jpg");
    background-size: cover;
    height: 281px;
    background-position-y: center;
}
header h2 {
    margin: 0;
    color: #fffbfe;
    padding: 22px 0 0 19px;
}
.error {
    color: red;
    margin: 0 0 20px 20px;
}
main {
    margin-left: 35px;
}
input {
    margin-right: 31px;
}
